        <script>
          var map;
          function initMap() {
            var bounds = new google.maps.LatLngBounds();
            var centroid = new google.maps.LatLng(enodebs[0].trilat[0], enodebs[0].trilat[1]);
            var map = new google.maps.Map(document.getElementById('map'), {
              center: centroid,
              zoom: 15
            });

            var points = [];
            var opacity = 0.2
            for (const t of known_towers) {
                var point = new google.maps.LatLng(t.lat, t.lon);
              new google.maps.Marker({position: point, map: map, title: t.description,
                icon: "{{ url_for('static', filename='skull.png') }}"});
            }

            for(const enb of enodebs){
              addMarker(enb)
            }

            function addMarker(enb) {
                let lat = enb.trilat[0]
                let lon = enb.trilat[1]
                var point = new google.maps.LatLng(lat, lon);
                bounds.extend(point);
                let marker = new google.maps.Marker({position: point, map: map, title: enb.enodeb_id.toString() });
                if(enb.max_suspiciousness >= 30){
                  marker.setIcon("{{ url_for('static', filename='skull.png') }}");
                }

                // Begin example code to get custom infobox
                let boxText = document.createElement("div");
                boxText.innerHTML = "<a href='/enb_detail/" + enb.enodeb_id + "'>" + enb.enodeb_id + "</a>";
                boxText.style.cssText = "color: black; margin-top: 8px; padding: 5px;";

                let  myOptions = {
                  content: boxText
                  ,disableAutoPan: false
                  ,zIndex: null
                  ,boxStyle: {
                    background: "url('tipbox.gif') no-repeat"
                    ,opacity: 0.75
                    ,width: "280px"
                  }
                  ,closeBoxMargin: "10px 2px 2px 2px"
                  ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
                  ,infoBoxClearance: new google.maps.Size(1, 1)
                  ,isHidden: false
                  ,pane: "floatPane"
                  ,enableEventPropagation: false
                };

                let iw = new google.maps.InfoWindow(myOptions);

                marker.addListener("click", function (e) {
                  iw.open(map, marker);  // change the map variable appropriately
                });
            }

            map.fitBounds(bounds);
          }
        </script>
