{% extends 'base.html' %}

{% block container %}
  <div id="map" class="jumbotron"></div>
  {% include "basemap.html" %}
  <div class='bs-component table-responsive'>
    <table class="table table-hover table-striped data-table">
      <thead class="thead-light ">
        <tr>
          <th>eNodeb id</th>
          <th>Closest Tower (m)</th>
          <th>Uniuqe Cells</th>
          <th>Sightings</th>
          <th>Susp</th>
          <th>First Seen</th>
          <th>Last Seen</th>
        </tr>
        <tbody>
        {% for enb in enodebs %}
          <tr>
            <th scope="row"><a href="/enb_detail/{{enb['enodeb_id']}}">{{enb['enodeb_id']}}</a></th>
            <td>{{enb["closest_tower"]}}</td>
            <td>{{enb["unique_cells"]}}</td>
            <td>{{enb["sightings"]}}</td>
            <td>{{enb["max_suspiciousness"]}}</td>
            <td>{{enb["first_seen"]}}</td>
            <td>{{enb["last_seen"]}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </ul>
  </div>
{% endblock %}
